<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <link type="text/css" href="../css/style.css" rel="stylesheet" />
</head>
<body>
<header class='header'>
    <div class='logo'>
        <a href="'#'">
            <img src="https://th.bing.com/th/id/R.0bc4309df799b44f1303b200d1cbccc1?rik=Bn80xKGZvA9%2fqw&pid=ImgRaw&r=0"/>
        </a>
    </div>
    <nav class='links-nav'>
        <ul >
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Usuarios</button>
                    <div class="dropdown-content">
                        <a href="createUser">Añadir</a>
                        <a href="showUsers">Mostrar</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Tickets</button>
                    <div class="dropdown-content">
                        <a href="createTicket">Añadir</a>
                        <a href="showTickets">Mostrar</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Eventos</button>
                    <div class="dropdown-content">
                        <a href="createEvent">Añadir</a>
                        <a href="showEvents">Mostrar</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
<br>
<br>
<div class="evento" th:each="user : ${userList}">
    <div style="text-align: center">
        <br>
        <span>Usuario:</span>
        <span th:text="${user.getUsername()}"></span>
        <br>
        <br>
        <span>Nombre:</span>
        <span th:text="${user.getName_user()}"></span>
        <br>
        <br>
        <span>Apellidos:</span>
        <span th:text="${user.getSurname()}"></span>
        <br>
        <br>
        <span>Email:</span>
        <span th:text="${user.getEmail()}"></span>
        <br>
        <br>
        <span>Teléfono:</span>
        <span th:text="${user.getPhone()}"></span>
        <br>
        <br>
        <span>Permisos Administrador:</span>
        <span th:text="${user.getIsAdmin()}"></span>
        <br>
        <br>
        <button class='button-nav' th:attr="onclick=|location.href='/updateUser/${user.getId()}'|">Editar</button>
        <button class='button-nav' th:attr="onclick=|location.href='/deleteUser/${user.getId()}'|">Eliminar</button>
    </div>
</div>
</body>
</html>